.container {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background: #222;
    color: white;
}

tr:hover {
    background: #f2f2f2;
}

.home {
    margin-top: 25px;
}

.home a {
    display: inline-block;
    padding: 9px 16px;
    background: #222;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s;
}

.home a:hover {
    background: #555;
}